header {
    background-color: #fff;
    padding-top: 7px;
}

body {
    font-family: Helvetica,Arial,sans-serif;
    color: #222;
    background-color: #fff;
    margin: 0;
}

nav {
    color: gray;
    margin-top: 0;
    display: inline-block;
    height: 54px;
    position: relative;
}

.title-bar {
    display: inline-flex;
    margin: 8px 0px -4px 20px;
    width: 98%;
    overflow: hidden;
}

li {
    display: inline;
}

li i {
    margin-right: 5px;
}


a {
    text-decoration: none;
}

.sign-in {
    background-color: #4285f4;
    border-radius: 3px;
    color: #fff;
    font-weight: 800;
    line-height: 1.2;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.btn {
    height: 40px;
    min-width: 60px;
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    width: 20px;
    height: 20px;
    padding: 10px;
    margin-right: 18px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.menu i {
    transform: scale(1, 1.2);
    font-size: 17px;
    border-radius: 50%;
    height: 18px;
    color: rgb(75, 75, 75);
    padding: 5px 1px;
    display: flex;
    justify-content: center;
}

.menu i:first-child {
    padding-right: 1px;
}


.menu:hover {
    background-color: rgb(241, 241, 241);
}

.menu-options {
    height: 40px;
    width: fit-content;
    padding-left: 16%;
    display: flex;
    margin: 8px 0 0 auto;
    justify-content: center;
    align-items: center;

}

.menu-options:hover {
    cursor: pointer;
}

.sign-in:hover {
    cursor: pointer;
}

input {
    border: none;
    background-color: transparent;
    margin: 4px 0 -29px 4px;
    padding: 0 0 0 3px;
    color: rgba(0,0,0,.87);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    outline: none;
    height: 34px;
    line-height: 34px;
    width: 100%;
}

.VoiceSearch {
    padding: 0;
    margin-left: 87%;
}

.nav-menu {
    margin-left: 156px;
    margin-top: 15px;
    min-width: 637.8px;
}

.SearchButton {
    padding-left: 8px;
    padding-bottom: 8px;
}

#more {
    margin-right: 36px;
}

em {
    color: #52565A;
    font-weight: bold;
    font-style: normal;
}

#googlelogo {
    border: 0;
    display: flex;
    margin: 13px 14px 10px 0px;
}

.nav-menu li:first-child a {
    border-bottom: 3px solid #1A73E8;
}

.nav-menu a {
    margin: -7px -2px 0px 0px;
    padding: 16px 10px 10px 10px;
    color: #5f6368;
    line-height: 16px;
    white-space: nowrap;
    position: relative;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}

.nav-menu a:hover {
    color: #2f5bb7;
}

.search-border:hover {
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1);
}

.search-border {
    background: #fff;
    display: inline-block;
    border: 1px solid #dfe1e5;
    width: 640px;
    border-radius: 24px;
    -webkit-box-flex: 0;
    height: 44px;
    padding-left: 14px;
    margin-left: 20px;
    flex: 0 1 auto;
    margin-top: 5px;
    position: relative;
}

ul {
    margin: 0;
    padding: 0;
}

.line {
    border-bottom: 1px solid #ebebeb;
    width: 100%;
    
}

.searchbar {
    height: 34px;
    display: inline-block;
    width: 640px;
}

.head {
    position: relative;
}

#results-bar {
    font-family: Arial, sans-serif;
    font-size: 14px;
    top: 0;
    line-height: 43px;
    margin-left: 166px;
    color: #70757a;
}

.search-col {
    margin: 0;
    display: flex;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.result-box {
    width: 600px;
    margin-left: 166px;
    margin-right: 0px;
    text-align: left;
    display: block;
}

.result-link {
    font-size: 14px;
    color: #3C4043;
    font-style: normal;
    padding-top: 1px;
    line-height: 1.3;
}

.result-title {
    font-size: 20px;
    line-height: 1.3;
    display: inline-block;
    padding-top: 2px;
    margin-bottom: 3px;
    color: #1a0dab;
}

.result-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.result p {
    font-size: 14px;
    color: #3c4043;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 1.57;
    word-wrap: break-word;
    margin: 0;
}

.result {
    margin-bottom: 28px;
    padding-top: 7px;    
    font-size: 14px;
}

.result li + li::before {
    content: ' · ';
}

.res-bot {
    color: #1a0dab;
    line-height: 22px;

}

.res-bot:hover {
    text-decoration: underline;
    cursor: pointer;

}

.main {
    height: 100%;
    display: flex;
    width: 782px;
}

.imgbar {
    width: 100%;
    color: #1a0dab;
    margin-bottom: 40px;
}

.imgtit {
    font-size: 20px;
    line-height: 1.3;
    display: flex;
    padding-top: 2px;
    margin-bottom: 3px;
    padding-bottom: 12px;
}

.imgtit:hover {
    text-decoration: underline;
    cursor: pointer;
}

.img-gal {
    display: flex;
    width: 100%;
    height: 136px;
    position: relative;
}

.imgbox {
    height: 130px;
    margin-right: 8px;
    min-width: 112px;
    max-width: 229px;
    border: 1px solid #dfe1e5;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
    justify-content: center;
}

.imgbox:hover {
    cursor: pointer;
}

.imgend {
    color: #1a0dab;
    line-height: 1.43;
    font-size: 16px;
}

.imgend i {
    font-size: 24px;
    -webkit-text-stroke: 3px #fff;
}

.moreimg:hover {
    cursor: pointer;
    text-decoration: underline;
}

.ra {
    padding-right: 4px;
}

.rep {
    color: #70757A;
    line-height: 1.57;
    font-size: small;
    float: right;
    margin-top: 4px;
    margin-right: 16px;
}

.rep:hover {
    cursor: pointer;
    color: #222;
}

.rel-search {
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    height: 159px;
    width: 640px;
    margin: 0 -20px;
    padding: 16px 0;
}

.rel-fb {
    float:right;
    line-height: 1.57;
    color: #70757a;
    font-size: small;
    margin: 4px 16px 16px 0;
    font-style: italic;

}

.rel-fb:hover {
    text-decoration: underline;
    cursor: pointer;
}

.rel {
    color: #70757A;
    font-size: 14px;
    margin: 0 0 3px 16px;
    line-height: 1.2;
    text-align: left;
}

.fwb {
    color: #222;
    font-size: 20px;
    line-height: 1.3;
    margin: 0 16px;
}

.fwb-gal {
    padding-top: 14px;
    padding-bottom: 4px;
    height: 93px;
    display: flex;
    overflow: hidden;
}

.fwb-img {
    display: flex;
    flex-direction: column;
    margin-left: 17px;
    width: 82px;
    overflow: hidden;
}

.fwb-img img {
    height: 72px;
}

.fwb-name {
    color: #1a0dab;
    width: 80px;
    text-align: center;
    font-size: 14px;
    line-height: 1.29;
    margin: 3px auto 0 auto;
}

.fwb-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.fwb-img img:hover {
    cursor: pointer;
}

.sbc {
    display: flex;
    margin-left: 55px;
    margin-top: 6px;
    height: 560px;
    width: 454px;
    border: 1px solid #dfe1e5;
    border-radius: 8px;
}

.sidebar {
    width: 100%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    text-align: left;
    color: #222;
    flex-direction: column;
    min-width: 268px;
    display: flex;
    border: 0;
    padding: 0;
}

.sbtop {
    height: 28%;
    width: 450px;
    display: flex;
    align-items: center;
}

.sbtit {
    line-height: 1.2;
    padding: 0 15px 0 15px;
    font-size: 30px;
    color: rgba(0,0,0,.87);
}

.sbtype {
    color: #70757A;
    line-height: 1.57;
    font-size: 14px;
    text-align: left;
}

.sb-icon {
    float: right;
    color: #5f6368;
    line-height: 24px;
    height: 40px;
    width: 40px;
    font-size: 24px;
    padding-left: 2px;
}

.sb-icon i {
    padding: 8px;
    height: 24px;
    width: 24px;
    -webkit-text-stroke: 2px #fff;
}

.sb-icon i:hover {
    cursor: pointer;
}

.sb-img {
    float: right;
    height: 151px;
    width: 151px;
    
}

.sb-img:hover {
    cursor: pointer;
}

.sbname {
    height: 7%;
    width: 450px;
    border-top: 1px solid #dfe1e5;
    display: flex;
}

.sbmid {
    line-height: 24px;
    padding: 8px 0;
    align-items: center;
    display: flex;
}

.sblink {
    color: #1a0dab;
    font-size: 14px;
    line-height: 24px;
}

.sblink i {
    margin: 0 24px 0 15px;
    font-size: 24px;
    color: #70757A;
}

.sblink:hover {
    cursor: pointer;
    text-decoration: underline;
}

.sbinfo {
    height: 65%;
    width: 450px;
    border-top: 1px solid #dfe1e5;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.info {
    font-size: 14px;
    line-height: 1.57;
    text-align: left;
    margin-top: 7px;
    padding: 0 15px;
    height: 22px;
}

.info span {
    font-weight: bold;
}

.info span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.info a {
    color: #1a0dab;
}

.info a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.info-link {
    color: #222;
    margin-top: 24px;
    font-size: 20px;
    width: 420px;
    height: 36%;
    display: flex;
    padding: 0 0 0 15px;
    flex-direction: column;
}

.info-link-one {
    color: #222;
    margin-top: 24px;
    font-size: 20px;
    width: 420px;
    height: 25%;
    display: flex;
    padding: 0 0 0 15px;
    flex-direction: column;
}

.info-tit {
    width: 100%;
    line-height: 1.3;
    height: 26px;
}

.info-tit span {
    padding-right: 10px;
    float: right;
    font-size: 14px;
    line-height: 1.3;
    color: #70757A;
    padding-top: 6px;
}

.info-tit span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.info-gal {
    width: 420px;
    height: 94px;
    margin-top: 10px;
    display: flex;
}

.info-gal-one {
    height: 55px;
    display: flex;
}

.info-img {
    width: 72px;
    height: 55px;
    line-height: 1.29;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #1a0dab;
    padding-left: 16px;
    margin-top: 10px;
}

.info-img:hover {
    cursor: pointer;
    text-decoration: underline;
}

.info-img-t {
    width: 72px;
    height: 94px;
    line-height: 1.29;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #1a0dab;
    padding-left: 16px;
}

.info-img-t:hover {
    cursor: pointer;
    text-decoration: underline;
}

.info-img img {
    width: 32px;
    height: 32px;
    align-self: center;
}

.info-img-t img {
    width: auto;
    height: auto;
    align-self: center;
}

.info-img:first-child {
    padding-left: 0;
}

.info-img-t:first-child {
    padding-left: 0;
}

.imgc {
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
}

.sb-end {
    width: 90%;
    height: 60px;
    margin-left: 55px;
}

.disc {
    padding:4px 0 0 14px;
    font-size: 12px;
    color: #70757A;
    line-height: 1.33
}

.disc span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.disc-end {
    float: right;
    padding-right: 16px;
}

.claim {
    height: 40px;
    width: 224px;
}

.claim-c {
    border: 1px solid #dadce0;
    border-radius: 18px;
    background-color: #fff;
    text-align: left;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: center;
    color: #3c4043;
}

.claim-c img {
    height: 16px;
    width: 16px;
    padding-right: 5px;
}

.claim-c:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.insert-ad {
    margin: 10px 0 0 22px;
}

.ad {
    color: #202124;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    line-height: 1.5;  
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.qform {
    margin: 0 -20px 27px -20px;
    position: relative;
    box-shadow: none;
    border: 1px solid #dfe1e1;
    border-radius: 8px;
}

.ques {
    text-align: left;
    font-weight: normal;
    color: #222;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 1px solid #e5e5e5;
    padding: 9px 26px 9px 16px;
    line-height: 1.57;
}

.ques:hover {
    cursor: pointer;
}

.qtitle {
    line-height: 1.3;
    margin: 0;
    font-size: 20px;
    padding: 9px 16px;
}

.fb {
    float: right;
    margin-left: 2em;
    color: #70757a;
    font-size: 12px;
    line-height: 1.33;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: normal;
    font-style: italic;
    padding: 6px 16px 0;
    overflow: hidden;

}

.fb:hover {
    text-decoration: underline;
    cursor: pointer;
}

.scdwn {
    line-height: 24px;
    color: #70757A;
    float: right;
}

.end-list {
    color: #222;
    margin-bottom: 28px;
    width: 600px;
    height: 150px;
    margin-top: 36px;
}

.end-tit {
    padding-bottom: 20px;
    line-height: 1.3;
    font-size: 20px;
}

.end-row {
    width: 100%;
    height: 104px;
}

.end-col {
    width: 50%;
    height: 100%;
    float: left;
}

.end-res {
    padding: 3px 46px 3px 0;
    line-height: 20px;
    font-size: 14px;
    color: #1a0dab;
    float: left;
}

.end-res:hover {
    text-decoration: underline;
    cursor: pointer;
}

.end-nav {
    width: 632px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

.g {
    height: 56px;
    width: 28px;
}

.g img {
    height: 40px;
    width: auto;
}

.o {
    width: 20px;
    height: 56px;
    font-size: 14px;
    text-align: center;
    color: #4285f4;
}

.r {
    width: 20px;
    height: 56px;
    font-size: 14px;
    text-align: center;
}

.r img {
    height: 40px;
    width: auto;
}

.r a {
    color: rgba(0,0,0,.87);
}

.r a:hover {
    text-decoration: none;
}

.o img {
    height: 40px;
    width: auto;
}

.l {
    height: 56px;
}
.l img {
    width: auto;
    height: 40px;
    font-size: 14px;
    text-align: center;
}

.o:hover {
    text-decoration: underline;
    cursor: pointer;
}

.gle {
    display: flex;
}

.gle:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav-end {
    width: 30px;
    height: 56px;
    font-size: 14px;
    text-align: center;
    color: #4285f4;
    margin-left:10px;
}

.nav-end i {
    height: 30px;
    width: 20px;
    padding: 12px 0 0 0;
}

.f-bar {
    width: 100%;
    height: 66px;
    font-size: 14px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

.top-bar {
    margin: 6px 0 0 166px;
    color: #5f6368;
    display: flex;
    line-height: 15px;
}

.top-bar i {
    color: #9e9e9e;
    vertical-align: middle;
    height: 10px;
    width: 10px;
    margin: 0px 6px 9px 0;
    -webkit-text-stroke: 1px #f2f2f2;
}

.loc {
    font-weight: bold;
    color: #333;
}

.top-bar span:hover {
    cursor: pointer;
    color: #333;
}

.bot-bar {
    height: 40px;
    line-height: 40px;
}

.bb-list {
    color: #5f6368;
    margin-left: 166px;
}

.bb-list span {
    padding-left: 27px;
}

.bb-list span:first-child {
    padding: 0;
}

.bb-list span:hover {
    cursor: pointer;
    Color: #333;
}